<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Game</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <h1 style="font-family:'Playfair Display', serif;"><i class="fa fa-truck"></i>Addition game</h1>

        <!-- <p id="question1"><input type="text" id="answer1" value=""></p> -->
        <form class="form-horizonal">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question0" for="answer0">test</label>
                    <div class="col-xs-4"><input id="answer0" type="number" name="Answer0" /></div>
                    <div class="col-xs-5" id="result0"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question1" for="answer1">test</label>
                    <div class="col-xs-4"> <input id="answer1" type="number" name="Answer1" /></div>
                    <div class="col-xs-5" id="result1"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question2" for="answer2">test</label>
                    <div class="col-xs-4"> <input id="answer2" type="number" name="Answer2" /></div>
                    <div class="col-xs-5" id="result2"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question3" for="answer3">test</label>
                    <div class="col-xs-4"> <input id="answer3" type="number" name="Answer3" /></div>
                    <div class="col-xs-5" id="result3"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question4" for="answer4">test</label>
                    <div class="col-xs-4"> <input id="answer4" type="number" name="Answer4" /></div>
                    <div class="col-xs-5" id="result4"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question5" for="answer5">test</label>
                    <div class="col-xs-4"> <input id="answer5" type="number" name="Answer5" /></div>
                    <div class="col-xs-5" id="result5"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question6" for="answer6">test</label>
                    <div class="col-xs-4"> <input id="answer6" type="number" name="Answer6" /></div>
                    <div class="col-xs-5" id="result6"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question7" for="answer7">test</label>
                    <div class="col-xs-4"> <input id="answer7" type="number" name="Answer7" /></div>
                    <div class="col-xs-5" id="result7"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question8" for="answer8">test</label>
                    <div class="col-xs-4"> <input id="answer8" type="number" name="Answer8" /></div>
                    <div class="col-xs-5" id="result8"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question9" for="answer9">test</label>
                    <div class="col-xs-4"> <input id="answer9" type="number" name="Answer9" /></div>
                    <div class="col-xs-5" id="result9"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-xs-3" id="question10" for="answer10">test</label>
                    <div class="col-xs-4"> <input id="answer10" type="number" name="Answer10" /></div>
                    <div class="col-xs-5" id="result10"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>

        <!-- 
            <input type="submit" value="Check Answers">
        </form> -->

        <span id="errors"></span>

    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/addGame.js"></script>
</body>

</html>